{% extends 'userbase.html'%}
{% load static %}
{% block userblock %}
<style>
    .input-group
      {
       height:40px;
       margin-bottom:15px;
       }
    .input-group-text
    {
     background:#d4d4d4;
    }
</style>
<div class="text-center text-light fs-2 mt-4 "><small> Sign <i class="fa-solid fa-pencil"></i></small><b style="color:green;"> Up</b></div>
<div class="row">
    <div class="col-sm-10 py-4 mx-auto">
        <div class="row mx-auto">
            <div class="col-sm-10 mx-auto">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row bg-dark">
                        <div class="col-lg-6 col-md-6 col-sm-12 pt-4">

                         <div class="input-group">
                            <i class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </i>
                            <input type="text" name="name" required placeholder="Enter Your Name" class="form-control"/>
                         </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 pt-4">

                            <div class="input-group">
                    <i class="input-group-text py-0">
                        <i class="fa-solid fa-envelope"></i>
                    </i>
                    <input type="email" name="email" required placeholder="Enter Email ID*" class="form-control"/>
                    </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 pt-4">

                    <div class="input-group">
                    <i class="input-group-text py-0">
                        <i class="fa-solid fa-phone"></i>
                    </i>
                    <input type="number" name="mobile" required placeholder="Whatsapp Number" class="form-control"/>
                    </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 pt-4">
                    <div class="input-group">
                    <i class="input-group-text py-0">
                        <i class="fa-solid fa-pencil"></i>
                    </i>
                    <select name="course" class="form-control">
                        <option>Select your course</option>
                        {% for i in course %}
                        <option value="{{i.department_name}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                        </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <input type="submit" value="Register Now" class=" btn bg-mycolor2 text-light my-3" style="background:#7d088a;"/>
                    <button type="reset" value="Reset" class=" btn text-light my-3 ms-3" style="background:#7d088a;">Reset</button>
                    </div>



                </div>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}