{% extends 'userbase.html'%}
{% load static %}
{% block userblock %}

<div class=" text-center fs-2 text-light mt-4">Success<b class="txt-mycolor3"> Stories</b></div>
<div class="=row my-auto ">
    <div class="col-sm-10 mx-auto my-2">
        <form method="get">
        <div class="row my-3">
            <div class="col-sm-5">

                <select class="form-control" name="department">
                    <option>--Select Department--</option>
                     {% for i in cdata %}
                <option value="{{i.id}}">{{i.department_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5 my-1">

                <select class="form-control" name="year" placeholder="Enter Your Name" >
                <option>--Select year--</option>
                    {% for x in sdata %}
                    <option value="{{x.id}}" >{{x.session}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-2">
            <input type="submit" value="search" class="form-control bg-mycolor2 text-light">
            </div>
        </div>
            </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row py-3 mb-5" style="background:#deedec; ">
            <!--start card-->
            {% for a in pdata %}
            <div class="col-lg-3 col-md-6 col-sm-6 my-2" >
                <div class="card" style="max-width:200px;">
                    <img src="/{{a.student_picture}}" style="max-height:160px;" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-text">
                            <b>{{a.student_name}}</b><br>
                            <small>{{a.department}} <br>
                                {{a.session}}</small><br/>
                            {{a.company_name}}
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <!--end card-->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}