{% extends 'teacherbase.html'%}
{% load static %}
{% block teacherzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<div class="text-center fs-2 mt-2">
     Live<B class="txt-mycolor1"> Classes</B>
</div>
<div class="row">
    {% for i in data%}
    <div class="col-sm-4 mx-auto p-5" style="background:#e7efee;line-height:35px;">
        <b>Subject: </b>{{i.subject}}<br/>
        <b>Teacher Name: </b>{{i.teacher}}<br/>
        <b>date : </b>{{i.date}}<br/>
        <b>time : </b>{{i.time}}<br/>
        <a href="{{i.link}}" class="btn btn-sm btn-danger rounded-pill">Click to Join <i class="fa-solid fa-video"></i></a>
    </div>
    {% endfor %}
</div>
{% endblock %}