{% extends 'teacherbase.html'%}
{% load static %}
{% block teacherzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<style>
    #frm
    {
   display:none;
    }
</style>
<script>
    function demo()
    {
    document.getElementById("frm").style.display="block"
    }
</script>
<div class="row my-2">
    <div class="col-lg-6 col-md-6 col-sm-12 fs-2 text-center" >E-<B class="txt-mycolor1">Notes</B></div>
    <div class="col-lg-6 col-md-6 col-sm-12 fs-2 text-center" >
        <a href="#" class="btn btn-primary text-light btn-sm" onclick="demo()">
            Add New Note <i class="fa-solid fa-plus"></i>
        </a>
   </div>
</div>

<div class="row bg-dark text-light my-2">
    <div class="col-lg-6 col-md-6 col-sm-12 fs-2" >Added Notes</div>
</div>
<div class="row py-4" id="frm">
    <div class="col-sm-6 mx-auto" style="background:#e1dddd; max-height:400px;">
        <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center txt-mycolor2">Add New Note</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">Select Subject:
                            <select name="subject">
                                {% for i in sdata%}
                                <option value="{{i.subject_name}}">{{i.subject_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">Add Description:
                            <input type="text" name="desc" id="description" value="" placeholder="Add description" class="form-control " required />
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ">Select Note:
                            <input type="file" name="note" class="form-control"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 ">Select date:
                            <input type="date" name="date" class="form-control"/>
                        </div>
                        <div>
                            <input type="submit" value="Save" class=" btn bg-mycolor2 text-light my-2"/>
                        </div>
                    </div>
                </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            {% for i in sdata %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="/teacher/notes?subject_id={{i.id}}">
                        <img class="card-img-top img-thumbnail" src="/{{i.thumbnail}}" style="max-height:140px;">
                    </a>
                    <div class="card-body text-center">
                        <a href="/teacher/notes?subject_id={{i.id}}" style="text-decoration:none;color:grey;">
                           <h5 class="text-dark">{{i.subject_name}}</h5><br>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}