{% extends 'teacherbase.html'%}
{% load static %}
{% block teacherzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<style>
    #frm
    {
   display:none;
    }
</style>
<script>
    function demo()
    {
    document.getElementById("frm").style.display="block"
    }
</script>
<div class="row my-2">
    <div class="col-lg-6 col-md-6 col-sm-12 fs-2 text-center" >Software<B class="txt-mycolor1"> Kit</B></div>
    <div class="col-lg-6 col-md-6 col-sm-12 fs-2 text-center" >
        <a href="#" class="btn btn-primary text-light btn-sm" onclick="demo()">
            Add New Softwares<i class="fa-solid fa-plus"></i>
        </a>
   </div>
</div>
<div class="row bg-dark text-light my-2">
    <div class="col-sm-12 fs-2 text-center" >Added Softwares</div>
</div>
<div class="row py-4" id="frm">
    <div class="col-sm-6 mx-auto" style="background:#e1dddd; max-height:400px;">
        <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center txt-mycolor2">Add New Software</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">Software Name:
                            <input type="text" name="title" value="" placeholder="Software Name">
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">Add Link:
                            <input type="text" name="link" id="link" value="" placeholder="Software Link" class="form-control " required />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">Add Description:
                            <input type="text" name="desc" id="description" value="" placeholder="Add description" class="form-control " required />
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ">Select date:
                            <input type="date" name="date" class="form-control"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 ">Select Thumbnail:
                            <input type="file" name="pic" class="form-control"/>
                        </div>
                        <div>
                            <input type="submit" value="Save" class=" btn bg-mycolor2 text-light my-2"/>
                        </div>
                    </div>
                </form>
    </div>
</div>

<div class="row">
     <div class="col-sm-6 mx-auto">
          <!--card start-->
         {% for x in sdata %}
          <div class="card mb-3 p-4" >
  <div class="row g-0">
    <div class="col-md-2">
      <img src="/{{x.software_picture}}" style="max-height:100px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">

      <div class="card-body">
        <h5 class="card-title">{{x.software_title}}</h5>
        <p class="card-text">{{x.software_description}}</p>
        <p class="card-text">
            <a href="{{x.link}}" target="_blank" class="btn btn-success btn-sm rounded-pill"> Download <i class="fa-solid fa-download"></i></a>
            <small class="text-body-secondary"> <i class="fa-solid fa-calendar-days"></i> Added on:{{x.software_date}} </small>
        </p>
      </div>

    </div>
  </div>
</div>
         {% endfor %}
          <!--end start-->
     </div>
</div>
{% endblock %}