{% extends 'studentbase.html'%}
{% load static %}
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}


<div class="row py-4" id="prm" >
    <div class="col-sm-6 mx-auto" style="background:#cee8e6; max-height:400px;">
        <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center">Changer your password</h3>
                    <input type="password" name="opasswd" required placeholder="Enter Old Password" class="form-control"/>
                    <input type="password" name="passwd" required placeholder="Enter New Password" class="form-control"/>
                     <input type="submit" value="Save" class=" btn bg-mycolor2 text-light my-2"/>
                </form>
    </div>
</div>

{% endblock %}