{% extends 'studentbase.html'%}
{% load static %}
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<script>

    function validateMobileNumber() {
              var a =document.getElementById("mobile").value;
              if (a==""){
                document.getElementById("message").innerHTML="**Please fill mobile number";
                return false;
              }
              if (isNaN(a)){
                 document.getElementById("message").innerHTML="** Enter only numeric value";
                 return false;
              }
              if (a.length<10){
                 document.getElementById("message").innerHTML="** Mobile number must be 10 digit";
                 return false;
              }
              if (a.length>10){
                 document.getElementById("message").innerHTML="** Mobile number must be 10 digit";
                 return false;
              }
              if ((a.charAt(0)!=9) && (a.charAt(0)!=8) && (a.charAt(0)!=7)){
                 document.getElementById("message").innerHTML="** Invalid mobile number";
                 return false;
              }
    }
</script>


<div class="row py-4" id="phone" >
    <div class="col-sm-6 mx-auto" style="background:#cee8e6; max-height:400px;">
        <form method="post" enctype="multipart/form-data" onsubmit="return validateMobileNumber()">
                    {% csrf_token %}
                    <h3 class="text-center">Changer Your Phone Number</h3>
                    Mobile:
                    <input type="text" name="mobile" id="mobile" value="" required placeholder="Whatsapp No..." class="form-control my-2"/>
                    <span id="message" style="color:red;"></span><br>
                    Password:
                    <input type="password" name="opasswd" required placeholder="Enter Password" class="form-control my-2"/>
                     <input type="submit" value="Save"  class=" btn bg-mycolor2 text-light my-3"/>
                </form>

{% endblock %}