{% extends 'studentbase.html'%}
{% load static %}
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<div class="text-center fs-2 my-2">
     Lecture <B class="txt-mycolor1">Videos</B>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <!--video category-->
            {% for i in cdata %}
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="/student/lecturesvideo?subject_id={{i.id}}" ><img src="/{{i.thumbnail}}" style="height:145px;" class="card-image-top"></a>
                    <div class="card-body text-center">
                        <a href="/student/lecturesvideo?subject_id={{i.id}}" style="text-decoration:none;color:grey;"> <h4>{{i.subject}}</h4> </a>
                    </div>
                </div>
            </div>
        {% endfor %}
         <!--end video category-->
       </div>
    </div>
</div>

{% endblock %}