:root
        {
        --bgcolor:black;
        --bgcolor1:#f34573;
        --bgcolor2:rgb(99, 3, 54);
        --bgcolor3:#0a400a;

        --txtcolor1:#f34573;
        --txtcolor2:#2a6171;
        --txtcolor3:#008000;
        --txtcolor4:white;

        }

    .bg-mycolorDark{
            background:var(--bgcolor) ! important;
<<<<<<< HEAD
            color: var(--txtcolor4) ! important;
            }
    b{
            color:green ! important; }
=======
            color:var(--txtcolor4) ! important;}
>>>>>>> feature1
    .bg-mycolor1
        {
         background:var(--bgcolor1 ) !important;
        }
    .bg-mycolor2
        {
         background:var(--bgcolor2) !important;
        }
    .bg-mycolor3{
               background:var(--bgcolor3) !important;
               }

    .txt-mycolor1
        {
         color:var(--txtcolor1) !important;
         }
    .txt-mycolor2
        {
         color:var(--txtcolor2) !important;
         }
    .txt-mycolor3{
                color:var(--txtcolor3) !important;
                }

    .txt-mycolorWhite{
                color:var(--txtcolor4) !important;
                }
    h2{
            font-family:Arial, Helvetica, sans-serif;
            }

    #menu ul li a
            {
            color:white;
            font-size:14px !important;
            }
    #menu
         {
            background:transparent !important
         }
    .dropdown-menu{
                color: white;
                background-color: rgb(43, 72, 41);
                text-decoration: none;

            }
    .dropdown-menu a:hover{
                background-color: rgb(43, 72, 41);
            }

    .input-group
              {
               height:40px;
               margin-bottom:15px;
               }
    .input-group-text
            {
             background:#d4d4d4;
            }
    .p
    {
    font-size:14px;
    color:#555
    }



